.madrid{
  color: blueviolet;
  background-color: white
}
.barsa{
  color: darkblue;
  background-color: darkred
}
.estu{
  color: yellow;
  background-color: darkblue
}
.juve{
  color: black;
  background-color: darkgreen
}
